[admin]
# Emby server URL
emby_server_url = https://example.com:8096

# User ID of an Emby admin user. 
# To find this ID, navigate to "Manage Emby Server" > "Users", 
# click on an admin user, and grab the userID from the URL
emby_user_id = abc123

# Emby API key. 
# To find this key, go to "Manage Emby Server" > "Advanced" > "API Keys", 
# and click on "New API Key"
emby_api_key = abc123

# MDBList API key. 
# Create an account on https://mdblist.com/, scroll to the bottom of 
# https://mdblist.com/preferences/ to "API Access", and generate an API key
mdblist_api_key = abc123

# Set to True to enable downloading of lists added manually
download_manually_added_lists = True

# Set to True to enable automatic downloading of your lists from https://mdblist.com/mylists/
download_my_mdblist_lists_automatically = True

# Set the frequency of script execution (in hours). Set to 0 to disable repetition
hours_between_refresh = 6

#############################################################################
########################## ADD YOUR MDBLists BELOW ##########################
#############################################################################
# You can find public lists at https://mdblist.com/toplists/ 
# To find the ID of a list, search for "?list=" in the HTML source.
# Note: These are random users' lists that might disappear at any time. 
# To ensure longevity, use your own lists.
# Use the 2 examples below to add your own lists. The title of the Emby Collection
# will be the string within the brackets. Refer to README.md for more information.

[Trending Movies]
Id = 4887
Source = https://mdblist.com/lists/xinefq/trending-movie
Frequency = 100

[Trending TV Shows]
Id = 15470
Source = https://mdblist.com/lists/teddysmoot/trending-new-shows
Frequency = 100